.buttonsRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttonFilter {
  padding: 10px;
  color: var(--color-light-light);
  border-radius: 8px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.input {
  padding: 10px;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  margin-top: -10px;
  margin-bottom: 30px;
}
