.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  /* background-color: var(--color-dark-mid); */
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--color-dark-light);
  transition: all 0.2s;
  color: var(--color-light-light);
  font-size: 14px;
  text-align: left;
  height: fit-content;
}

.divider {
  height: 50px;
  width: 1px;
  background-color: var(--color-dark-light);
}

.filterButton {
  padding: 10px 20px;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.allButton {
  border: 2px solid var(--accent-blue);
  background-color: transparent;
}

.winnersButton {
  border: 2px solid var(--accent-main);
  background-color: transparent;
}

.deletedButton {
  border: 2px solid var(--accent-danger);
  background-color: transparent;
}

.allButton:hover {
  background-color: var(--accent-blue);
}
.winnersButton:hover {
  background-color: var(--accent-main);
}
.deletedButton:hover {
  background-color: var(--accent-danger);
}

.allButton:active {
  background-color: var(--accent-blue);
  transform: scale(0.9);
}
.winnersButton:active {
  background-color: var(--accent-main);
  transform: scale(0.9);
}

.deletedButton:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}

.icon {
  color: var(--color-dark-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
