.container {
    /* border-radius: 15px; */
    width: 600px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    /* background: rgb(234, 255, 0); */
    background: linear-gradient(225deg, rgba(164, 209, 0) 0%, rgba(14, 122, 0) 100%);
    /* background: linear-gradient(225deg, rgb(164, 209, 0) 0%, rgb(14, 122, 0) 100%); */
    padding: 15px;
    /* border-radius: 15px 15px 0 0; */
}

.overlay {
    background-image: url(../../..//public/images//moneybg-min.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(14, 122, 0);
    padding: 15px;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
}

.results {
    background-color: var(--color-light-light);
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
    color: var(--color-dark-mid);
}

.numbers {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 0 20px 0;
}
