.container {
    background-color: var(--color-dark-mid);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

.date {
    font-size: small;
    color: var(--color-light-dark);
    background-color: var(--accent-main);
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    width: fit-content;
    margin-bottom: 5px;
}
