.container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #364156;
    transition: background-color 0.3s ease-in-out;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .user,
    .prize {
        font-weight: bold;
    }

    .modalidade {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .dateInfo {
        font-size: 0.9rem;
        margin-bottom: 10px;
        color: #fff;
    }

    .numbersContainer {
        .numberTitle {
            font-size: 0.9rem;
            margin-bottom: 5px;
        }

        .numbers {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 100%;
        }
    }
}
