.buttonRow {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.inputsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input {
  background-color: var(--color-dark-mid);
  border: 2px solid var(--color-dark-light);
  border-radius: 8px;
  padding: 10px;
  font-family: inherit;
  color: var(--color-light-light);
  font-size: 20px;
}

.jogosRow {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.textAreaDiv {
  height: 100%;
  flex: 1;
}

.textArea {
  flex: 1;
  width: 100%;
  background-color: var(--color-dark-mid);
  border: 2px solid var(--color-dark-light);
  border-radius: 15px;
  padding: 20px;
  font-family: inherit;
  color: var(--color-light-light);
}
