.buttonFilterRow {
    margin-bottom: 15px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.valorBilheteDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    border: 2px solid var(--color-dark-light);
    border-radius: 8px;
}

.inputsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.input {
    background-color: var(--color-dark-mid);
    border: 2px solid var(--color-dark-light);
    border-radius: 8px;
    padding: 2px 5px;
    font-family: inherit;
    color: var(--color-light-light);
    font-size: 16px;
}

.smallInput {
    background-color: var(--color-light-light);
    border: 2px solid var(--color-dark-light);
    border-radius: 8px;
    padding: 2px 10px;
    font-family: inherit;
    color: var(--color-dark-dark);
    font-size: 16px;
    width: 150px;
}

.jogosRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.textAreaDiv {
    height: 100%;
    flex: 1;
}

.compDiv {
    flex: 1;
}

.instructionsDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.textArea {
    flex: 1;
    max-width: 100%;
    background-color: var(--color-dark-mid);
    border: 2px solid var(--color-dark-light);
    border-radius: 8px;
    padding: 20px;
    font-family: inherit;
    font-size: 16px;
    color: var(--color-light-light);
}

.checkJogosDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 10px 0 20px 0;
}
