.tabList {
  display: flex;
  flex-direction: row;
  gap: 2px;
  list-style: none;
}

.singleTab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-mid);
  padding: 20px;
  cursor: pointer;
  border: 1px solid var(--color-dark-light);
  width: 200px;
  color: var(--color-light-light);
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
}

.singleTabSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-light);
  padding: 20px;
  cursor: pointer;
  border: 1px solid var(--color-dark-light);
  border-bottom: none;
  width: 200px;
  color: var(--color-light-light);
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
}

.tabContentContainer {
  background-color: var(--color-dark-light);
  padding: 20px;
  border-radius: 0 15px 15px 15px;
}

.buttonFiltersRow {
  display: flex;
  gap: 10px;
}

.buttonFilter {
  padding: 10px;
  color: var(--color-light-light);
  border-radius: 8px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
