.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.buttonFilterRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: space-between; */
}

.buttonRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.divider {
  height: 75px;
  width: 2px;
  background-color: var(--color-dark-light);
}

.userRow {
  width: 100%;
  margin-bottom: 10px;
}
