.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--color-dark-mid);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--color-dark-light);
  transition: all 0.2s;
  color: var(--color-light-light);
  font-size: 14px;
  text-align: left;
}

.containerFullWidth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--color-dark-mid);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--color-dark-light);
  transition: all 0.2s;
  color: var(--color-light-light);
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.containerNoAnimation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--color-dark-mid);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--color-dark-light);
  transition: all 0.2s;
  color: var(--color-light-light);
  font-size: 14px;
  text-align: left;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.container:hover,
.containerFullWidth:hover {
  border: 2px solid var(--accent-main);
}

.container:hover > .icon,
.containerFullWidth:hover > .icon {
  color: var(--accent-main);
}

.container:active {
  transform: scale(0.9);
}

.containerFullWidth:active {
  transform: scale(0.98);
}

.divider {
  height: 50px;
  width: 1px;
  background-color: var(--color-dark-light);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.icon {
  color: var(--color-dark-light);
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
