.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--color-dark-mid);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--color-dark-light);
  transition: all 0.2s;
  /* width: 30rem; */
}

.container:hover {
  border: 2px solid var(--accent-main);
}
.container:hover > .icon {
  color: var(--accent-main);
}

.divider {
  height: 50px;
  width: 1px;
  background-color: var(--color-dark-light);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.icon {
  color: var(--color-dark-light);
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
