.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-dark-light);
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--color-dark-dark);
  width: calc(100% - var(--sidebar-width));
  height: var(--header-height);
  position: fixed;
  top: 0;
  z-index: 10;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  z-index: 11;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  color: var(--color-light-light);
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: var(--accent-main);
}

.button:active {
  transform: scale(0.9);
}
