.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 18px;
}
