.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-dark-light);
  padding: 10px 0;
  margin-bottom: 10px;
}

.user {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 18px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  color: var(--color-light-light);
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: var(--accent-main);
}

.button:active {
  transform: scale(0.9);
}
