.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.addButton {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-main);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.shareButton {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-blue);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteButton {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-danger);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.repeatButton {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-repeat);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.addMoney {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-main);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.removeMoney {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-danger);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.deactivateWallet {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--accent-danger);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.addButton:hover {
  background-color: var(--accent-main);
}
.shareButton:hover {
  background-color: var(--accent-blue);
}
.deleteButton:hover {
  background-color: var(--accent-danger);
}
.repeatButton:hover {
  background-color: var(--accent-repeat);
}
.addMoney:hover {
  background-color: var(--accent-main);
}
.removeMoney:hover {
  background-color: var(--accent-danger);
}
.deactivateWallet:hover {
  background-color: var(--accent-danger);
}

.addButton:active {
  background-color: var(--accent-main);
  transform: scale(0.9);
}
.shareButton:active {
  background-color: var(--accent-blue);
  transform: scale(0.9);
}
.deleteButton:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}
.repeatButton:active {
  background-color: var(--accent-repeat);
  transform: scale(0.9);
}
.addMoney:active {
  background-color: var(--accent-main);
  transform: scale(0.9);
}
.removeMoney:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}
.deactivateWallet:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 12px;
}
