.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  border-radius: 8px;
  /* border: 2px solid var(--accent-main); */
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--color-light-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.addButton {
  border: 2px solid var(--accent-main);
}

.shareButton {
  border: 2px solid var(--accent-blue);
}

.deleteButton {
  border: 2px solid var(--accent-danger);
}

.repeatButton {
  border: 2px solid var(--accent-repeat);
}

.addMoney {
  border: 2px solid var(--accent-main);
}

.removeMoney {
  border: 2px solid var(--accent-danger);
}

.deactivateWallet {
  border: 2px solid var(--accent-danger);
}

.showVendor {
  border: 2px solid var(--accent-warn);
}

.date {
  border: 2px solid var(--accent-purple);
}

.addButton:hover {
  background-color: var(--accent-main);
}
.shareButton:hover {
  background-color: var(--accent-blue);
}
.deleteButton:hover {
  background-color: var(--accent-danger);
}
.repeatButton:hover {
  background-color: var(--accent-repeat);
}
.addMoney:hover {
  background-color: var(--accent-main);
}
.removeMoney:hover {
  background-color: var(--accent-danger);
}
.deactivateWallet:hover {
  background-color: var(--accent-danger);
}
.showVendor:hover {
  background-color: var(--accent-warn);
}
.date:hover {
  background-color: var(--accent-purple);
}

.addButton:active {
  background-color: var(--accent-main);
  transform: scale(0.9);
}
.shareButton:active {
  background-color: var(--accent-blue);
  transform: scale(0.9);
}
.deleteButton:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}
.repeatButton:active {
  background-color: var(--accent-repeat);
  transform: scale(0.9);
}
.addMoney:active {
  background-color: var(--accent-main);
  transform: scale(0.9);
}
.removeMoney:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}
.deactivateWallet:active {
  background-color: var(--accent-danger);
  transform: scale(0.9);
}
.showVendor:active {
  background-color: var(--accent-warn);
  transform: scale(0.9);
}
.date:active {
  background-color: var(--accent-purple);
  transform: scale(0.9);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 12px;
}
