.container {
  /* background-color: var(--accent-main); */
  background-color: var(--color-dark-light);
  border: 2px solid var(--accent-main);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 22px;
}

.containerSmall {
  /* background-color: var(--accent-main); */
  background-color: var(--color-dark-light);
  border: 2px solid var(--accent-main);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 18px;
}
