.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: var(--color-dark-light);
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.container:hover {
  background-color: var(--accent-main);
  transition: all 0.2s;
}

.container:hover > .icon {
  color: var(--color-light-light);
}

.container:hover > .divider {
  background-color: var(--color-light-light);
}

.divider {
  height: 50px;
  width: 1px;
  background-color: var(--accent-main);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  color: var(--accent-main);
}
