.container {
  background-color: var(--color-dark-mid);
  height: 100vh;
  min-width: 280px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-right: 2px solid var(--color-dark-light);
}

.logo {
  padding: 0 15px 0 15px;
}

.menuDivisions {
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid white; */
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
}

.divider {
  height: 2px;
  background-color: var(--color-dark-dark);
  margin: 0 15px 0 15px;
}

.menuLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
  /* background-color: aqua; */
  transition: all 0.2s;
}

.menuLink:hover {
  background-color: var(--accent-main);
  /* border-right: 5px solid white; */
  /* background-color: var(--color-dark-light); */
}

.icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-main);
  transition: all 0.2s;
}

.menuLink:hover > .icon {
  color: var(--color-light-light);
}
