.container {
  background-color: var(--color-dark-mid);
  height: 100vh;
  min-width: var(--sidebar-width);
  padding-top: 20px;
  padding-bottom: 10px;
  border-right: 2px solid var(--color-dark-light);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.logo {
  padding: 0 15px 0 15px;
}

.menuDivisions {
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid white; */
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
}

.divider {
  height: 2px;
  background-color: var(--color-dark-dark);
  margin: 0 15px 0 15px;
}

.menuLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
  /* background-color: aqua; */
  /* border-left: 5px solid transparent; */
  transition: all 0.2s;
}

.menuLink:hover {
  background-color: var(--color-dark-dark);
  border-left: 5px solid var(--accent-main);
  /* background-color: var(--color-dark-light); */
}

.icon {
  margin-left: 10px;
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-dark);
  transition: all 0.2s;
}

.menuLink:hover > .icon {
  color: var(--accent-main);
}

.linkText {
  display: block;
}

@media (max-width: 768px) {
  .container {
    /* background-color: red; */
    min-width: 60px;
    max-width: 60px;
    transition: all 0.5s;
    overflow-x: hidden;
  }

  .container:hover {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
  }

  .container:hover > .menuDivisions > .menuLink > .linkText {
    display: inline;
  }

  .logo {
    transition: all 0.5s;
    color: transparent;
  }

  .container:hover .logo {
    color: var(--color-light-light);
  }

  .linkText {
    display: none;
  }
}
