.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.fullWidth {
  width: 100%;
  display: block;
}
