/* src/components/Avatar.module.scss */

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    user-select: none;
}
