.container {
  /* background-color: var(--color-dark-mid); */
  background-color: var(--accent-main);
  border-radius: 15px;
  padding: 20px 20px;
}

.header {
  text-align: center;
}

.cellsHeader {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px 15px 0 0;
  border: 1px solid var(--color-light-light);
}

.cellsLine {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border-bottom: 1px solid var(--color-light-light); */
  border: 1px solid var(--color-light-light);
}

.cellsLineContent {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cellsLine:last-child {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 0 0 15px 15px;
}

.money {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
